{% extends "base.html" %}

{% load product_extras %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="category-detail">
        <h1 class="category-detail__name">{{ category.name }}</h1>
        <p class="category-detail__overview">{{ category.description }}</p>
    </div>
    <section class="products-collection">
        {% for product in products %}
            <a class="product-collection" href="{% url 'products:product' product.slug %}">
                <div class="product-collection__picture-wrapper">
                    <img class="product-collection__picture" src="{{ product|get_main_picture }}"
                         alt="{{ product.description }}">
                </div>
                <div class="product-collection__content">
                    {% if product.discount > 0 %}
                        <p class="product-collection__heading">{{ product.price|get_discount_price:product.discount|format_to_cop }}</p>
                        <p class="product-collection__older_price">{{ product.price|format_to_cop }}</p>
                        <span class="product-collection__discount">
                            {{ product.discount }}%
                        </span>
                    {% else %}
                        <p class="product-collection__heading">{{ product.price|format_to_cop }}</p>
                    {% endif %}
                    <h2 class="product-collection__paragraph">{{ product.name }}</h2>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}