* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark: #111111;
    --light: #F3F3F3;
    --blue: #0098CF;
    --violet: #A61CEC;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    margin-top: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
}

.header__brand {
    width: 183px;
}

.header__nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.header__menu {
    display: flex;
    gap: 10px;
    z-index: 0;
}

.header__menu--show {
    display: flex !important;
}

.header__item {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
    padding: 8px;
    background: transparent;

}

.header__item:hover {
    background: linear-gradient(97.36deg, #A61CEC 14.83%, #0098CF 89.37%);
}

.header__cart {
    padding: 5px;
    cursor: pointer;
    width: 23px;
    height: 23px;
    background: url("icons/shopping-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__burger {
    display: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 23px;
    height: 23px;
    background: url("icons/menu.svg") no-repeat center;
    background-size: contain;
}

.hero {
    padding: 0 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(17, 17, 17, 1) 90.96%), url("./images/bg.jpg") no-repeat center;
    background-size: cover;
}

.hero__heading {
    font-size: 70px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(var(--violet), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__paragraph {
    margin-bottom: 50px;
    width: 50%;
}

.categories {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: var(--light);
    transition: 600ms;
}

.category:hover {
    background: var(--violet);
}

.category__image {
    width: 100%;
    height: 100%;
}

.category__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    background: linear-gradient(91.66deg, var(--violet) 7.48%, var(--blue) 97.28%);
}

.footer {
    padding: 50px;
    display: grid;
    grid-template-columns: 15% 40% 40%;
    gap: 50px;
    align-items: start;
    justify-items: center;
    width: 90%;
    margin: auto;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__about-us {
    text-align: center;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__item-heading {
    font-size: 24px;
    text-transform: uppercase;
}

.footer__item-link {
    color: var(--blue);
    font-size: 18px;
    text-decoration: none;
}

.legality {
    padding: 150px 50px;
}

.legality__heading {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.legality__content {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
}

.cart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--light);
    color: var(--dark);
    padding: 20px;
    width: 30vw;
    height: 100vh;
}

.cart--show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__heading {
    text-transform: uppercase;
}

.cart hr {
    margin: 10px 0px;
}

.button {
    outline: none;
    background: var(--blue);
    border: 1px var(--blue) solid;
    color: var(--light);
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 400ms color, 400ms background;
}

.button:hover {
    background: transparent;
    color: var(--blue);
}

.cart__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cart__product-content {
    display: flex;
    gap: 10px;
}

.cart__product-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--violet);
}

.cart__product-name {
    font-size: 18px;
}

.cart__product-price {
    font-size: 14px;
}

.cart__product-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: #A61CEC;
    padding: 5px;
    border-radius: 50%;
    font-size: 5px;
 }

.category-detail {
    padding: 150px 50px 10px 50px;
}

.category-detail__name {
    font-size: 40px;
    text-transform: uppercase;
}

.products-collection {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.product-collection {
    background: var(--light);
    border-bottom: 5px solid var(--violet);
    cursor: pointer;
    transition: border 400ms;
}

.product-collection:hover {
    border-bottom: 5px solid var(--light);
}

.product-collection:nth-child(even) {
    border-bottom: 5px solid var(--blue);
}

.product-collection__content {
    background: var(--light);
    color: var(--dark);
    padding: 10px;
}

.product-collection__heading {
    font-size: xx-large;
    font-weight: bold;
}

.product-collection__paragraph {
    font-weight: normal;
    font-size: 18px;
    opacity: 0.5;
}

.product-collection__older_price {
    text-decoration: line-through;
    display: inline-block;
    opacity: 0.3;
}

.product-collection__discount {
    color: var(--blue);
    padding-left: 5px;
    font-weight: bold;
}

.product-collection__picture {
    width: 100%;
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px){
    .header__brand {
        width: 150px;
    }

    .hero__paragraph {
        width: 100%;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 768px) {
    .header__burger {
        display: inline;
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background: linear-gradient(var(--blue), var(--violet));
    }

    .header__burger {
        width: 25px;
        height: 25px;
    }

    .hero__heading {
        line-height: 100%;
        margin-bottom: 20px;
    }


    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        grid-template-columns: 30% 70%;
    }

    .cart {
        width: 50%;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .header {
        padding: 20px;
    }

    .header__brand {
        width: 100px;
    }

    .categories {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 25px;
    }

    .cart--show {
        width: 100%;
    }
}


