* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark: #111111;
    --semi-dark: #1A1A1A;
    --light: #F3F3F3;
    --blue: #0098CF;
    --violet: #A61CEC;
    --violet-deep: #07000a;
    --gray: #AFAFAF;
    --error: #e84118;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--semi-dark);
}


body {
    color: var(--light);
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(45deg, var(--dark), var(--violet-deep)) fixed;
}

main {
    margin-top: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
}

.header__brand {
    width: 183px;
}

.header__nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.header__menu {
    display: flex;
    gap: 10px;
    z-index: 0;
}

.header__menu--show {
    display: flex !important;
}

.header__item {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
    padding: 8px;
    border: transparent solid 5px;
    transition: border 400ms;
}

.header__item:hover {
    border-top: var(--violet) solid 5px;
    border-bottom: var(--violet) solid 5px;
}

.header__cart {
    padding: 5px;
    cursor: pointer;
    width: 23px;
    height: 23px;
    background: url("icons/shopping-cart.svg") no-repeat center;
    background-size: contain;
}

.header__cart--close {
    background: url("icons/x-menu.svg") no-repeat center !important;
}

.header__burger {
    display: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 23px;
    height: 23px;
    background: url("icons/menu.svg") no-repeat center;
    background-size: contain;
}

.hero {
    padding: 0 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 40%, var(--violet-deep)), url("./images/bg.jpg") no-repeat center;
    background-size: cover;
}

.hero__heading {
    font-size: 70px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(var(--violet), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__paragraph {
    margin-bottom: 50px;
    width: 50%;
}

.categories {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.category {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: var(--light);
    transition: 600ms;
}

.category:hover {
    background: var(--dark);
}

.category__image {
    width: 100%;
    height: 100%;
}

.category__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    background: linear-gradient(91.66deg, var(--violet) 7.48%, var(--blue) 97.28%);
}

.footer {
    padding: 50px;
    display: grid;
    grid-template-columns: 15% 40% 40%;
    gap: 50px;
    align-items: start;
    justify-items: center;
    width: 90%;
    margin: auto;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__about-us {
    text-align: center;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__item-heading {
    font-size: 24px;
    text-transform: uppercase;
}

.made-by {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    border-top: 1px var(--violet) solid;
}

.made-by__author {
    text-decoration: none;
    color: var(--violet);
}

.footer__item-link {
    color: var(--violet);
    font-size: 18px;
    text-decoration: none;
    transition: color 400ms ease-in-out;
}

.footer__item-link:hover {
    color: var(--blue);
}

.legality {
    padding: 150px 50px;
}

.legality__heading {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.legality__content {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
}

.cart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--dark);
    color: var(--light);
    padding: 20px;
    width: 40vw;
    height: 100vh;
}

.cart--show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__heading {
    text-transform: uppercase;
    border-bottom: var(--violet) solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.button {
    outline: none;
    border: 2px var(--violet) solid;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 400ms color, 400ms background;
    background: var(--semi-dark);
    color: var(--violet);
}

.button:hover {
    background: var(--violet);
    color: var(--light);
    border-color: var(--violet);
}

.button--alternative {
    background: var(--blue);
    color: var(--light);
    border-color: var(--blue);
}

.button--disable {
    background: var(--semi-dark);
    color: var(--gray);
    border-color: var(--gray);
    cursor: not-allowed;
    position: relative;
}

.button--disable:hover {
    background: var(--semi-dark);
    color: var(--gray);
    border-color: var(--gray);
}

.cart__products-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    white-space: nowrap;
    overflow-x: hidden;
    height: 75vh;
}

.cart__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 20px;
}

.cart__product-content {
    display: flex;
    gap: 10px;
}

.cart__product-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart__product-name {
    font-size: 18px;
}

.cart__product-price {
    font-size: 14px;
}

.cart__product-options {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart__product-add-or-subtract {
    background: var(--semi-dark);
    padding: 5px 10px;
    border: none;
    outline: none;
    color: var(--light);
    cursor: pointer;
    transition: background 400ms;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
}

.cart__product-add-or-subtract:hover {
    background: var(--blue);
}

.cart__product-n-products {
    padding: 5px;
}

.cart__product-delete {
    width: 25px;
    height: 25px;
    content: '';
    background: url("icons/trash.svg") no-repeat center;
    cursor: pointer;
}

.cart__controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.cart__controls button {
    width: 100%;
}

.cart__complete-purchase--hide {
    display: none;
}

.cart__total-purchase {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.category-detail {
    padding: 150px 50px 10px 50px;
}

.category-detail__name {
    font-size: 40px;
    text-transform: uppercase;
}

.products-collection {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.product-collection {
    background: var(--light);
    border-bottom: 5px solid var(--violet);
    cursor: pointer;
    transition: border 400ms;
    text-decoration: none;
}

.product-collection:hover {
    border-bottom: 5px solid var(--light);
}

.product-collection__content {
    background: var(--light);
    color: var(--dark);
    padding: 10px;
}

.product-collection__heading {
    font-size: xx-large;
    font-weight: bold;
}

.product-collection__paragraph {
    font-weight: normal;
    font-size: 18px;
    color: var(--gray);
}

.product-collection__older_price {
    text-decoration: line-through;
    display: inline-block;
    color: var(--gray);
}

.product-collection__discount {
    color: var(--blue);
    padding-left: 5px;
    font-weight: bold;
}

.product-collection__picture {
    width: 100%;
}

.product-detail {
    padding: 170px 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.product-detail__overview {
    width: 90%;
}

.product-detail__features {
    padding: 10px 20px;
}

.product-detail__gallery {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.product-detail__thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-detail__thumbnail > img {
    border: 1px solid transparent;
    cursor: pointer;
    transition: 400ms;
    width: 100%;
    height: 100%;
}

.product-detail__thumbnail > img:hover {
    filter: saturate(3);
    border: 5px solid var(--violet);
}

.product-detail__main-picture {
    width: 100%;
    height: 100%;
}

.product-detail__buy-options {
    text-transform: uppercase;
    font-weight: bold;
}

.product-detail__quantity {
    margin: 0 10px 0 5px;
    padding: 10px 5px;
    font-size: 14px;
    outline: none;
    color: var(--light);
    background: var(--semi-dark);
    border: 2px solid var(--violet);
}

.product-detail__price {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    line-height: 25px;
}

.product-detail__old-price {
    font-size: 18px;
    font-weight: normal;
    color: var(--gray);
    text-decoration: line-through;
}

.product-detail__discount {
    color: var(--blue);
    font-size: 20px;
}

.noty_bar {
    background: transparent !important;
    border-bottom: 2px var(--violet) solid !important;
}

.noty_body {
    background: var(--semi-dark);
    color: var(--light);
}

.purchase {
    padding: 150px 50px;
}

.purchase__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.purchase__container {
    display: grid;
    grid-template-columns: 50% 45%;
    align-items: start;
    width: 100%;
    height: 100vh;
    gap: 50px;
}

.purchase__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form__item {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    gap: 5px;
}

.form__item > input, .form__item > select, .form__item > textarea {
    outline: none;
    padding: 8px 5px;
    border: none;
    border-bottom: 3px solid var(--violet);
    background: var(--semi-dark);
    color: var(--light);
}

.form__item > textarea   {
    font-family: 'IBM Plex Sans', sans-serif;
}

.purchase__form > .form__field:nth-child(12), .purchase__form > button {
    grid-column: 1 / 3;
}

.form__help-text {
    font-size: 14px;
    color: var(--gray);
}

.form__errors {
    color: var(--error);
    font-size: 14px;
}

.form__errors > ul {
    padding: 2px 15px;
    list-style: circle;
}

.purchase__form--terms {
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.purchase__form--link-terms {
    color: var(--violet);
    text-decoration: none;
}

.order-detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.order-detail__edit {
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
}

.order-detail__item {
    display: grid;
    grid-template-columns: auto 10% 30%;
    background: var(--violet-deep);
    border-left: 5px solid var(--violet);
    font-size: 21px;
    margin-bottom: 10px;
}

.order-detail__product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-detail__product-name {
    font-size: 21px;
}

.order-detail__product-image {
    width: 60px;
}

.order-detail__product-price {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-detail__product-discount {
    font-size: 16px !important;
    color: var(--blue);
}

.order-detail__product-original-price {
    font-size: 16px !important;
    text-decoration: line-through;
    color: var(--gray);
    font-weight: normal;
}

.order-detail__item-quantity {
    font-weight: bold;
    align-self: center;
    text-align: center;
}

.order-detail__item-price {
    font-weight: bold;
    align-self: center;
    text-align: center;
}

.payment {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment__heading {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.payment__loader {
    border: 5px solid var(--semi-dark);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: var(--violet);

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
    .header__brand {
        width: 150px;
    }

    .hero__paragraph {
        width: 100%;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 768px) {
    .header__burger {
        display: inline;
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background: linear-gradient(var(--blue), var(--violet));
    }

    .header__burger {
        width: 25px;
        height: 25px;
    }

    .hero__heading {
        line-height: 100%;
        margin-bottom: 20px;
    }


    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        grid-template-columns: 30% 70%;
    }

    .cart {
        width: 50%;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .header {
        padding: 20px;
    }

    .header__brand {
        width: 120px;
    }

    .legality {
        padding: 100px 20px 20px;
    }

    .legality__heading {
        padding-bottom: 20px;
    }

    .legality__content {
        width: 100%;
        font-size: 16px;
    }

    .categories {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
        justify-items: start;
    }

    .footer__item {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer__logo {
        width: 150px;
        margin: auto;
        padding: 0 0 10px;
    }

    .made-by {
        text-align: center;
        flex-direction: column;
        font-size: 18px;
    }

    .made-by__author {
        font-size: 14px;
    }

    .cart--show {
        width: 100%;
    }

    .products-collection {
        grid-template-columns: 1fr;
    }

    .product-detail {
        display: flex;
        flex-direction: column-reverse;
        padding: 100px 15px;
    }

    .product-detail__gallery {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-detail__thumbnails {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .purchase {
        padding: 100px 15px;
    }

    .purchase__container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .purchase__form {
        display: flex;
        flex-direction: column;
    }

    .order-detail__header {
        flex-direction: column;
        align-items: start;
    }
}


