{% extends "home.html" %}

{% block content %}
    <div class="legality">
        <h1 class="legality__heading">Cookies.</h1>
        <p class="legality__content">
            De conformidad con la legislación sobre protección de datos personales, Ley 1581 de 2012 y Decreto 1377 de
            2013, y demás normas que las modifiquen, adicionen o sustituyan, informamos que CORSEGURIDAD DIGITAL, en sus
            sitios web: hackmerstore.com , pueden utilizar cookies tanto propias como de terceros en diversas
            finalidades. Por lo anterior, a continuación presentamos la POLÍTICA DE USO DE COOKIES adoptada por
            CORSEGURIDAD DIGITAL, en adelante LA EMPRESA, la cual contiene la información necesaria que debe conocer
            todo usuario de las páginas web sobre el uso de las cookies que realiza LA EMPRESA o los terceros que esta
            contrate. LA EMPRESA podrá modificar el presente documento en cualquier momento para mantenerlo vigente y
            actualizado. Por lo anterior, recomendamos a los usuarios revisar la fecha de elaboración o actualización
            del mismo, la cual se establece al final del presente documento. En caso de dudas o inquietudes acerca del
            uso de cookies o sobre cualquiera de los puntos detallados en esta Política
        </p>
    </div>
{% endblock %}