{% extends "home.html" %}

{% block content %}
    <div class="legality">
        <h1 class="legality__heading">Manejo de datos del cliente</h1>
        <p class="legality__content">
            La empresa CORSEGURIDAD DIGITAL. comprometida con su privacidad y con el adecuado manejo de su información
            personal, razón por la cual le invitamos a leer la siguiente información y confirmarnos su recepción a
            través de cualquier medio de comunicación posible. Un dato personal es cualquier tipo de información que
            permita identificar a una persona natural y/o jurídica pública o privada. Tratamiento del dato personal es
            la realización de cualquier tipo de operación con el dato personal, tales como la recolección,
            almacenamiento, uso, circulación, transmisión o supresión del mismo. Mediante la Ley 1581 del 17 de octubre
            de 2012 el Congreso Nacional dicta Disposiciones Generales para la Protección de Datos Personales,
            incluyendo el régimen de derechos de los titulares de la información y las obligaciones de los responsables
            y encargados de su tratamiento, constituyendo así el marco general de la Protección de Datos Personales en
            Colombia. Igualmente, el pasado 27 de junio de 2013 el Gobierno Nacional expidió el Decreto 1377 de 2013,
            mediante el cual se reglamenta la Ley antes mencionada, con el fin de facilitar su implementación en
            aspectos relacionados con la autorización del Titular de la información, las Políticas de Tratamiento de los
            Responsables y Encargados, el ejercicio de los derechos de los titulares de la información, las
            Transferencias de Datos Personales y la Responsabilidad Demostrada frente al Tratamiento de Datos
            Personales. CORSEGURIDAD DIGITAL – requiere ciertos datos personales a los cuales da tratamiento para el
            normal desarrollo de su actividad, y en el marco de la relación que la vincula con Los clientes,
            trabajadores y proveedores, solicitará solo los datos que en efecto necesite para ello, los cuales
            comprenden, entre otros, sus datos de identificación y contacto; los datos relacionados con su actividad
            económica y con su información comercial y/o financiera.Para tal efecto la CORSEGURIDAD DIGITAL – ha
            adoptado adecuadas medidas de seguridad con el fin de velar por el tratamiento adecuado y confidencial de
            sus. datos personales. CORSEGURIDAD DIGITAL obtiene sus datos personales por que usted mismo los ha
            suministrado, porque los ha obtenido de un tercero autorizado por usted o por la ley, para suministrarlos, o
            porque son datos públicos, es decir, datos para cuyo tratamiento no se requiere de su autorización previa.
            CORSEGURIDAD DIGITAL. requiere tratar sus datos personales con el fin de atender adecuadamente la relación
            establecida con usted, y para llevar a cabo las actividades previstas en la autorización que la empresa le
            solicita para efectos de realizar dicho tratamiento. En el evento en que nuestra empresa requiera tratar sus
            datos personales para una finalidad distinta a la consignada en la autorización, le solicitará una nueva.
            Bogotá, Colombia.
        </p>
    </div>
{% endblock %}