{% extends "home.html" %}

{% block content %}
    <div class="legality">
        <h1 class="legality__heading">Devoluciones de productos</h1>
        <p class="legality__content">
            La política de devolución de Alarmas wifi colombia te permite devolver los productos en caso de que no
            quedes satisfecho con tu compra hasta 14 días desde la fecha de recepción del producto. Los productos deben
            ser devueltos en el mismo estado en el que los recibiste. Por lo tanto, los productos nuevos deben ser
            devueltos nuevos, sin usar y completos. Nota: si el motivo de la devolución del producto no se debe a que
            llegó dañado, era defectuoso o era incorrecto, no te reembolsaremos el importe del producto. los gastos de
            envío ni ningún otro servicio relacionado con tu pedido.
        </p>
    </div>
{% endblock %}