{% load static %}

<footer>
    <div class="footer">
        <div class="footer__item">
            <img class="footer__logo" src="{% static "images/Logo.svg" %}" alt="">
            <p class="footer__about-us">
                Somos Hackmer una empresa dedicada a llevar a tus manos los mejores articulos tecnologicos.
            </p>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-heading">Politicas y Soporte</h3>
            <a class="footer__item-link" href="{% url "cookies" %}">Politcas de Cookies</a>
            <a class="footer__item-link" href="{% url "data" %}">Tratamientos de datos</a>
            <a class="footer__item-link" href="{% url "returns" %}">Politicas de devolucion de producto</a>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-heading">Contacto</h3>
            <a class="footer__item-link" href="mailto:team@hackmerstore.com">team@hackmerstore.com</a>
            <a class="footer__item-link" href="tel:3144517954">+57 314 4517954</a>
        </div>
    </div>
    <div class="made-by">
        👾 Hackmer Store 2021 &copy
        <a href="https://royerguerrero.vercel.app/" class="made-by__author">Made by Royer Guerrero.</a>
    </div>
</footer>