{% load static %}

<footer>
    <div class="footer">
        <div class="footer__item">
            <img class="footer__logo" src="{% static "images/Logo.svg" %}" alt="">
            <p class="footer__about-us">
                Somos Hackmer una empresa dedicada a llevar a tus manos tus articulos tecnologicos.
            </p>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-heading">Politicas y Soporte</h3>
            <a class="footer__item-link" href="{% url "cookies" %}">Politcas de Cookies</a>
            <a class="footer__item-link" href="{% url "data" %}">Tratamientos de datos</a>
            <a class="footer__item-link" href="{% url "returns" %}">Politicas de devolucion de producto</a>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-heading">Contacto</h3>
            <a class="footer__item-link" href="www.google.com">hackmerstore@gmail.com</a>
            <a class="footer__item-link" href="www.google.com">+57 321 489 6631</a></div>
        </div>
</footer>