{% extends "base.html" %}
{% load static %}

{% block title %}
    Tienda de articulos de tecnologia
{% endblock %}

{% block content %}
    <section class="hero">
        <img class="hero__img-first" src="{% static 'images/headset.png' %}" alt="">
        <div class="hero__container">
            <h1 class="hero__heading">Hackmer <span>store</span></h1>
            <a class="button" href="/#how-buy">¿Como comprar?</a>
            <img src="{% static 'images/drone.png' %}" alt="">
        </div>
        <img class="hero__img-second" src="{% static 'images/control.png' %}" alt="">
    </section>
    <p class="home__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus lacus gravida mattis ut
        vulputate adipiscing consequat velit. Enim duis ante non massa tempus sem accumsan sed montes. Dignissim amet
        odio diam ultrices phasellus augue consectetur at proin. Nam cursus neque risus felis leo. Purus auctor cursus
        mattis hac. Nunc nec mi ornare vivamus phasellus. </p>
    <br><br><br><br>
    <h2 class="home__subtitle">Categorias</h2>
    <section class="categories" id="products">
        {% for category in categories %}
            <a class="category" href="{% url 'category' category.slug %}">
                <img class="category__image" src="{{ category.picture.url }}" alt="{{ category.name }}">
                <div class="category__name">
                    {{ category.name }}
                </div>
            </a>
        {% endfor %}
    </section>
    <br><br><br><br>
    <h2 class="home__subtitle">Guia para comprar</h2><br>
    <p class="home__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus lacus gravida mattis ut
        vulputate adipiscing
        consequat velit. Enim duis ante non massa tempus sem accumsan sed montes. Dignissim amet odio diam ultrices
        phasellus augue consectetur at proin.</p>
    <section class="how-buy" id="how-buy">
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Añade tus productos</h2><span class="how-buy__index">01</span>
            <p class="how-buy__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus lacus gravida
                mattis ut vulputate adipiscing consequat velit. Enim duis ante non massa tempus </p>
        </div>
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Termina <br>la compra</h2><span class="how-buy__index">02</span>
            <p class="how-buy__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus lacus gravida
                mattis ut vulputate adipiscing consequat velit. Enim duis ante non massa tempus </p>
        </div>
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Recibe tus productos</h2><span class="how-buy__index">03</span>
            <p class="how-buy__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus lacus gravida
                mattis ut vulputate adipiscing consequat velit. Enim duis ante non massa tempus </p>
        </div>
    </section>
{% endblock %}