{% extends "base.html" %}
{% load static %}

{% block title %}
    Tienda de articulos de tecnologia
{% endblock %}

{% block content %}
    <section class="hero">
        <img class="hero__img-first" src="{% static 'images/headset.png' %}" alt="">
        <div class="hero__container">
            <h1 class="hero__heading">Hackmer <span>store</span></h1>
            <a class="button" href="/#how-buy">¿Como comprar?</a>
            <img src="{% static 'images/drone.png' %}" alt="">
        </div>
        <img class="hero__img-second" src="{% static 'images/control.png' %}" alt="">
    </section>
    <p class="home__paragraph">
        Encuentra los mejores productos e ideales para tu estudio, trabajo u oficina, en hackmer
        store te queremos ofrecer los mejores productos relación calidad precio y llevártelos hasta la puerta de tu
        casa. Te invitamos a mirar todos los productos que tenemos de diferentes categorías desde productos de seguridad
        como cámaras de seguridad hasta productos relacionados con los videojuegos como consolas retro, controles,
        teclados y mouses. Por último te invitamos a seguirnos en <a href="https://www.facebook.com/hackmerstore" target="_blank">FB</a> e <a href="https://www.instagram.com/hackmerstore/" target="_blank">Instagram</a>.
    </p>
    <br><br><br><br>
    <h2 class="home__subtitle">Categorias</h2>
    <section class="categories" id="products">
        {% for category in categories %}
            <a class="category" href="{% url 'category' category.slug %}">
                <img class="category__image" src="{{ category.picture.url }}" alt="{{ category.name }}">
                <div class="category__name">
                    {{ category.name }}
                </div>
            </a>
        {% endfor %}
    </section>
    <br><br><br><br>
    <h2 class="home__subtitle">Guia para comprar</h2><br>
    <p class="home__paragraph">
        Comprar por internet nunca fue tan <strong>fácil y seguro</strong> en <a href="{% url 'home' %}">Hackmer
        Store</a> contamos con un avanzado sistema de pago para
        que puedas hacer tus compras de la mejor manera, en esta sencilla guía encontraras como en solo 3 pasos puede
        comprar y recibir tus productos en la puerta de tu casa.
    </p>
    <section class="how-buy" id="how-buy">
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Añade tus <br>productos</h2><span class="how-buy__index">01</span>
            <p class="how-buy__paragraph">
                Viaja por nuestra tienda y enamórate de los múltiples productos que tenemos para ti añádelos a tu
                carrito, revisa bien algunos tienen unas ofertas de locos 🤯
            </p>
        </div>
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Termina <br>la compra</h2><span class="how-buy__index">02</span>
            <p class="how-buy__paragraph">
                Cuando tengas todo listo en el carrito puedes ir a terminar la compra, allí nos proveerás tus datos de
                contacto y el lugar donde deben llegar los productos.
            </p>
        </div>
        <div class="how-buy__item">
            <h2 class="how-buy__heading">Recibe tus <br>productos</h2><span class="how-buy__index">03</span>
            <p class="how-buy__paragraph">
                Listo, solo debes proceder al pago para ello te brindamos múltiples métodos de pago luego de ello solo
                debes esperar a recibir tu producto y disfrutarlo.
            </p>
        </div>
    </section>
{% endblock %}